div{
    width: 200px;
    height: 100px;
    color: white;
    margin: 10px;
}
.transition{
    background: yellow;
    color: black;
    transition: all 2s linear;
}
.transition:hover{
    background: red;
    transform: translateX(100px);
}
.animation{
    background: hotpink;
    animation: move 5s infinite;
}
@keyframes move{
    0%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(100px);
        background: red;
    }
    75%{
        transform: translateX(-200px);
        background: lightseagreen;
    }
    100%{
        transform: translateX(20px);
        background: orangered;
    }
}