.colume{
    float: left;
    width: 30%;
    padding: 5px;
    
}
.content{
    background-color: blanchedalmond;
    padding: 10px;
    background-attachment: fixed;
    transition: all 1s linear;
}
img{
    width: 100%;
    background-attachment: fixed;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.hori{
    background: url(/CSS/Harvard\ cs50/french.jpeg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    text-transform: uppercase;
    
}
h3:hover{
    font-size: 30px;
}
a:link{
    color: aqua;
}
a:visited{
    color:gray;
}
a:hover{
    color:black;
}
a:active{
    color: chocolate;
}
